.block {
    height: 10em;
    position: relative 
}

#dog {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 330px;
}